@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 100;
	src: url('./../app/fonts/woff/YekanBakhFaNum-Thin.woff') format('woff'),   
	url('./../app/fonts/woff2/YekanBakhFaNum-thin.woff2') format('woff2');		
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 300;
	src: url('./../app/fonts/woff/YekanBakhFaNum-Light.woff') format('woff'),   
	url('./../app/fonts/woff2/YekanBakhFaNum-Light.woff2') format('woff2');	
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: normal;
	src: url('./../app/fonts/woff/YekanBakhFaNum-Regular.woff') format('woff'),   
	url('./../app/fonts/woff2/YekanBakhFaNum-Regular.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 600;
	src: url('./../app/fonts/woff/YekanBakhFaNum-SemiBold.woff') format('woff'),   
	url('./../app/fonts/woff2/YekanBakhFaNum-SemiBold.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: bold;
	src: url('./../app/fonts/woff/YekanBakhFaNum-Bold.woff') format('woff'),   
	url('./../app/fonts/woff2/YekanBakhFaNum-Bold.woff2') format('woff2'); 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 800;
	src: url('./../app/fonts/woff/YekanBakhFaNum-ExtraBold.woff') format('woff'),   
	url('./../app/fonts/woff2/YekanBakhFaNum-ExtraBold.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 900;
	src: url('./../app/fonts/woff/YekanBakhFaNum-Black.woff') format('woff'),   
	url('./../app/fonts/woff2/YekanBakhFaNum-Black.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 950;
	src: url('./../app/fonts/woff/YekanBakhFaNum-ExtraBlack.woff') format('woff'),   
	url('./../app/fonts/woff2/YekanBakhFaNum-ExtraBlack.woff2') format('woff2');		 
}
@tailwind base;

@layer components{
	.header-menu-button{
		@apply opacity-100 items-center rounded-lg hover:bg-gray-100 flex gap-3 text-lg justify-center px-2 py-2 hover:opacity-100 transition-all duration-150 cursor-pointer
	}
	.header-menu-button.active{
		@apply bg-[#fff4e5] text-[#b3874b]
	}
	.custom-transition{
		@apply transition-all duration-150 ease-in-out
	}
	.header-dropdown {
		@apply items-center	bg-slate-50 shadow-xl flex
		left-0 overflow-hidden right-0 duration-200 transition-all w-[860px]
	}
	.header-dropdown a:hover {
		@apply bg-[#fff4e5] text-[#b3874b]
	}
	.header-mobile-panel {
		--tw-bg-opacity: 1;
		background-color: rgb(245 247 250 / var(--tw-bg-opacity));
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		height: calc(100dvh - 72px);
		justify-content: space-between;
		overflow-y: auto;
		position: fixed;
		top: 100px;
		right: 0;
		width: 100%;
		z-index: 50;
	}
	.header-mobile-panel .primary-menu {
		--tw-bg-opacity: 1;
		background-color: rgb(255 255 255 / var(--tw-bg-opacity));
		margin-bottom: .25rem;
		padding: 2.5rem 1rem 2.25rem;
	}


}
@tailwind components;
@tailwind utilities;
[x-cloak] { display: none !important; }